* {
    box-sizing: border-box;
    max-height: 900px;
}

body {
    overflow: scroll;
    font-family: 'Merienda', cursive;
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/kwiaty.jpg");
    max-width: 1400px;
    height: 1500px;
    background-repeat: no-repeat;
}

input {
    width: 220px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(245, 234, 241);
    padding-right: 5px;
    text-align: center;
    margin-top: 10px;
}

button {
    height: 40px;
    background-color: rgb(221, 133, 184);
    margin-top: 30px;
    border: 2px solid rgb(221, 133, 184);
    border-radius: 10px;
}

button:hover {
    background-color: rgb(191, 83, 146);
    color: #f2e7e7;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
}

h3 {
    padding: 40px 0px 30px 0px;
    text-align: center;
}

p {
    padding-left: 30px;
    font-size: 20px;
}

span {
    margin-left: 10px;
}

.wyniki h3 {
    text-align: center;
}

.clr {
    background-color: #35a256;
    border: none;
}

.clr:hover {
    background-color: rgb(63, 119, 80);
    color: #f2e7e7;
    border: 2px solid #35a256;
}
